{% extends "admin__base.html" %}
{% load crispy_forms_tags %}
{% block containt %}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-briefcase-check"></i>
        </span> Manage Products
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="container" style="max-width:90%;">
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-3">
                            {{form.p_id|as_crispy_field}}
                        </div>
                        <div class="col-sm-6">
                            {{form.name|as_crispy_field}}
                        </div>
                        <div class="col-sm-3">
                            {{form.brand|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        <center>
                            <img src="" alt="" id="selectedImage" name="selectedImage" style="height:auto; width:60%;">
                        </center>         
                        {{form.p_image|as_crispy_field}}

                        </div>
                        <div class="col-sm-8">
                            {{form.description|as_crispy_field}}
                        </div>
                    </div>
                    <center> <input type="submit" value="Submit" class="btn bg-gradient-primary text-light px-5 px-3">
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3" style=" overflow:scroll;">
    <table id="example" class="table table-striped " style="overflow:scroll; width:100%;min-width: max-content;">
        <thead>
            <tr style="background:#02B4C3; padding:80px;">
                <th scope="col" class="text-center text-white" style="padding:20px;">Sr.No</th>
                <th scope="col" class="text-center text-white" style="padding:20px;">Product ID</th>
                <th scope="col" class="text-center text-white" style="padding:20px;">Name</th>
                <th scope="col" class="text-center text-white" style="padding:20px;">brand</th>
                <th scope="col" class="text-center text-white" style="padding:20px;">Description</th>
                <th scope="col" class="text-center text-white" style="padding:20px;">Product Image</th>
                <th scope="col" class="text-center text-white" style="padding:20px;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% if records %}
            {% for r in records %}
            <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="text-center">{{r.p_id}}</td>
                <td>{{r.name}}</td>
                <td class="text-center">{{r.brand}}</td>
                <td>{{r.description|slice:20}}.......</td>
                <td class="text-center"><a href="/media/{{r.p_image}}" download><i class="mdi mdi-download btn btn-info"></i></a></td>
                <td>
                    <center>
                        <a href="#" class="btn btn-success px-3 view-details" data-toggle="modal"
                            data-target="#detail_modal" onclick="view_product_details('{{r.p_id}}','{{r.name}}','{{r.brand}}','{{r.description}}','{{r.p_image}}')">
                            <i class="mdi mdi-eye"></i></a>
                        <a href="{% url "admin__update_product" r.id %}" class="btn btn-primary px-3"><i class="mdi mdi-pencil-box-outline"></i></a>
                        <a href="{% url "admin__delete_product" r.id %}" class="btn btn-danger px-3"><i
                                class="mdi mdi-delete"></i></a>
                    </center>


                    <!-- Modal -->
                    <div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1000px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Product Detail</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"> 
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-6"><div class="model-cards">ID <hr> <h4 id="productID">402</h4></div></div>
                                                <div class="col-sm-6"><div class="model-cards">BRAND <hr> <h4 id="productBrand">Bajaj</h4></div></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12"><div class="model-cards">NAME <hr> <h4 id="productName">Name</h4></div></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12"><div class="model-cards">DESCRIPTION <hr> <p id="productDescription">This is the paragraph text</p></div></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <img id="productImage" src="https://media.istockphoto.com/id/1182647541/photo/wonders-of-the-night-sky.jpg?s=612x612&w=0&k=20&c=INNH-3NsVMGIsly8_KUeqjh1qjFzdxPUzmuQIGETVxQ=" style="border-radius:10px; width:100%; height:100%;" alt="">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </td>



            </tr>
            {% endfor %}
            {% else %}
            {% endif %}
        </tbody>
    </table>
</div>
 
<!-- Include the 'host' variable in your HTML -->
<script>
    var host = "{{ host }}";  // Assuming 'host' is defined in your HTML context.
    
    function view_product_details(p_id, name, brand, description, p_image) {
        // Construct the product image path using the 'host' variable
        var product_image_path = host + "/media/" + p_image;
        // Update the content of <h4> tags and image src
        document.getElementById('productID').textContent = p_id;
        document.getElementById('productBrand').textContent = brand;
        document.getElementById('productName').textContent = name;
        document.getElementById('productDescription').textContent = description;
        document.getElementById('productImage').src = product_image_path;
    }
</script>


<script>
    const imageInput = document.getElementById('id_p_image');
    const selectedImage = document.getElementById('selectedImage');

    imageInput.addEventListener('change', function () {
        const file = imageInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock containt %}